.menu-page {
    height: auto;
}
.menu-page .tabs {
    display: block;
}
.menu-page .tab {
    display: flex;
    padding-left: 40px;
}
.tabs h1 {
    text-align: center;
    padding-top: 125px;
}
.menu-page .products {
    margin-bottom: 50px;
}