.footer-yummu {
    background: rgb(54, 54, 54);
    color: white;
    height: 245px;
}
.menu-footer a {
    color: white;
}
.menu-footer a {
    margin: 0 10px auto;
}
.menu-footer a {
    width: auto;
}

.social-footer img {
    margin-left: 20px;
}
.menu-footer a {
    color: white;
}
.menu-footer a {
    margin: 0 10px auto;
}
.menu-footer a {
    width: auto;
}

.social-footer img {
    margin-left: 20px;
}

.footer-yummu {
    background: rgb(54, 54, 54);
    color: white;
    height: 245px;
}